<template>
  <div id="upgrade-container">
    <div class="title-container">
      <h3 class="title" v-if="isCurUrlOverseasArea">
        <img :src="logo_beta" width="260" alt="" class="login-logo" />
      </h3>
      <h3 class="title" v-else>
        <img :src="logo_old" width="260" alt="" class="login-logo" />
      </h3>
    </div>
    <div id="text-content" :style="fontSize">
      GoodCloud is upgrading and it needs little time, please wait a moment.
    </div>
  </div>
</template>

<script>
import { isOverseasArea } from "@/utils/region";
import logo_beta from "@/assets/logo_beta.png";
import logo_old from "@/assets/logo_old.png";
export default {
  name: "upgrade",
  data() {
    return {
      logo_beta: logo_beta,
      logo_old: logo_old,
      isMobile: false,
    };
  },
  computed: {
    isCurUrlOverseasArea() {
      return isOverseasArea();
    },
    fontSize() {
       return this.isMobile ? 'font-size:20px;': 'font-size: 35px;'
    }
  },
  mounted() {
    this.sizeChangeReload();
    window.onresize = () => {
      this.sizeChangeReload();
    };
  },
  methods: {
    sizeChangeReload() {
      let isMobile = navigator.userAgent.match(
        /(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i
      );
      const WIDTH = document.body.clientWidth;
      this.isMobile = (!!isMobile && WIDTH <= 768) || WIDTH <= 768;
    },
  },
};
</script>

<style scoped>
#upgrade-container {
  overflow-y: auto;
  position: fixed;
  height: 100%;
  width: 100%;
  padding: 20px 0;
  background: #352158; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #352158 1%,
    #003271 26%,
    #188282 98%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #352158 1%,
    #003271 26%,
    #188282 98%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #352158 1%,
    #003271 26%,
    #188282 98%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#352158', endColorstr='#188282',GradientType=0 ); /* IE6-9 */
}
.title-container {
  position: relative;
}
.title {
  font-size: 26px;
  color: #eee;
  margin: 0px auto 40px auto;
  text-align: center;
  font-weight: bold;
  height: 120px;
  margin-top: 35px;
}
.login-logo {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}
#text-content {
  color: #fff;
  text-align: center;
  word-wrap: break-word;
  word-break: normal;
  z-index: 100;
}
</style>
